*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    background-color: green;
    grid-row: 1 / -1;
    grid-column: 1 / 2;
}

.sidebar-header {
    display: flex;
    align-items: center;
    padding: 15px;
}

.dashboard-svg {
    width: 40px;
    margin-right: 10px;
}

main {
    background-color: lightgrey;
}
