*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    background-color: green;
    grid-row: 1 / -1;
    grid-column: 1 / 2;
}

.sidebar-header {
    display: grid;
    grid-template-rows: 70px;
    grid-template-columns: 70px 1fr;
    align-items: center;
}

.dashboard-svg {
    justify-self: center;
    align-self: center;
}

.home-section {
    margin-top: 20px;
    display: grid;
    grid-template-rows: repeat(6, 35px);
    align-items: center;
}

.settings-section {
    margin-top: 30px;
    display: grid;
    grid-template-rows: repeat(3, 35px);
    align-items: center;
}

.home-section > div,
.settings-section > div {
    display: grid;
    grid-template-columns: 70px 1fr;
}

.home-section img,
.settings-section img {
    justify-self: center;
    align-self: center;
}

.sidebar-header > .dashboard-svg {
    width: 40px;
}

.sidebar img {
    width: 20px;
}

main {
    background-color: lightgrey;
}
