@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto-Regular.woff2') format('woff2'),
        url('font/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 1rem;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: green;
    grid-row: 1 / -1;
    grid-column: 1 / 2;
}

.sidebar img {
    filter: invert();
}

.sidebar-header {
    display: grid;
    grid-template-rows: 70px;
    grid-template-columns: 70px 1fr;
    align-items: center;
    font-size: 1.4rem;
}

.dashboard-svg {
    place-self: center;
}

.home-section {
    margin-top: 20px;
    display: grid;
    grid-template-rows: repeat(6, 35px);
    align-items: center;
}

.settings-section {
    margin-top: 30px;
    display: grid;
    grid-template-rows: repeat(3, 35px);
    align-items: center;
}

.home-section > div,
.settings-section > div {
    display: grid;
    grid-template-columns: 70px 1fr;
}

.home-section img,
.settings-section img {
    place-self: center;
}

.sidebar-header > .dashboard-svg {
    width: 40px;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1rem;
}

h3 {
    font-size: 0.9rem;
}

.header {
    display:grid;
    grid-template: 1fr 1fr / 5fr 3fr;
    padding: 0 45px 15px 35px;
}

button {
    padding: 8px 24px;
    background-color: darkgreen;
    border-style: none;
    font-weight: bold;
    color: white;
    font-family: inherit;
    font-size: 0.75rem;
    border-radius: 20px;
}

.search-bar,
.user-greeting {
    display: grid; 
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 13px;
}

.profile-access,
.post-section {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

.profile-img-small {
    width: 40px;
    border-radius: 100%;
}

.sidebar img,
.icon {
    width: 20px;
}

input[type="search"] {
    width: clamp(100px, 40vw, 500px);
    border-radius: 10px;
    border-style: none;
    background-color: rgb(204, 224, 224);
    font-size: 1rem;
    padding: 3px 10px;
}

.profile-img-mid {
    width: 60px;
    border-radius: 100%;
}

main {
    background-color: lightgrey;
    padding: 20px 10px;
    gap: 10px;
    display: grid;
    grid-template: auto 1fr auto 1fr / 3fr 1fr;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.projects-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
    background-color: white;
    padding: 20px 15px;
    border-radius: 4px;
    box-shadow: inset 5px 0px #334c8a;
}

.project-actions img {
    width: 20px;
}

.card p {
    font-size: 0.7rem;
    color: rgb(54, 54, 54);
}

.project-actions {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 10px;
}

.announcements {
    grid-row: 2 / 3;
}

.trending {
    grid-row: 3 / -1;
}